/* h1{
    background-color: navy;
    color: white;
    padding: 10px;
    text-align: center;
}
.img{
    width: 33%;
    height: 300px;
}
input{
    padding: 10px;
    width: 97%;
    margin-top: 10px;
}
.main{
    width: 100vw;
    height: 100vh;
}
.item{
    margin: auto;
    width: 70vw;
}
button{
    background-color: navy;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
} */
.background{
    background-color: #6f42c1;
}