ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: navy;
    color: white;
}

li{
    background-color: indigo;
    width: 15%;
    margin-top: 5px;
    padding: 10px;
}
li:hover{
    background-color: green;
    
}
.active{
    border-bottom: 5px solid orangered;
}